<section id="footer" class="footer">
    <div class="footerBg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="contact-form btm-brdr">
                    <div class="form-Box">
                        <input type="text" placeholder="Name" class="b_effect" />
                    </div>
                    <div class="form-Box">
                        <input type="text" placeholder="Email" class="b_effect" />
                    </div>
                    <div class="form-Box"> <textarea placeholder="Message" class="b_effect"></textarea>
                    </div>
                    <div class="form-Box">
                        <input type="submit" value="Submit" class="fill-btn" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="contact-address btm-brdr">
                    <h4 class="fTitle"> Contact <span>Us</span> </h4>
                    <ul>
                        <li> <i class="fa fa-phone" aria-hidden="true"></i> <span>1800 999 87 21</span> </li>
                        <li> <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Buenos Aires, diag. 80 N~ 791 Dpto A,La Plata </span> </li>
                        <li><i class="fas fa-envelope-open-text" aria-hidden="true"></i><span>sabas.ll.w@gmail.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="subscribe btm-brdr">
                    <h4 class="fTitle"> Subscribe <span>Newsletter</span> </h4>
                    <form>
                        <input type="text" placeholder="Example@example.com" /> <button type="button"
                            class="fill-btn">Subscribe</button>
                    </form>
                </div>
                <div class="social-icons">
                    <h4 class="fTitle"> Social <span>News</span> </h4>
                    <ul>
                        <li><a href="https://www.facebook.com/sabaslloydwilliams/" target="_blank"> <i
                                    class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/SabasWilliams" target="_blank"> <i class="fab fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCkeUzHt9-WejGznt6W8rotw" target="_blank"> <i
                                    class="fab fa-youtube" aria-hidden="true"></i> </a>
                        </li>
                        <li><a href="https://www.instagram.com/sabas_williams/" target="_blank"> <i
                                    class="fab fa-instagram" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>