<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notas">Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notes/public">Notas Publicas</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sesion</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users/signin">Iniciar Sesion</a>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/notes">Mis Notas</a>
          <a class="dropdown-item" href="/notes/add">Agregar Nota</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>